@import '../../assets/css/variable.css';

.seperator {
  margin: 40px 0px;
}
p {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  @media (max-width: 1800px) {
    width: 60%;
  }
  @media (max-width: 1200px) {
    width: 70%;
  }
  @media (max-width: 800px) {
    width: 85%;
  }
}

p:before,
p:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid var(--or-color);
  margin: auto;
}

p:before {
  margin-right: 10px;
}

p:after {
  margin-left: 10px;
}

.or-text {
  color: var(--primary-color);
  font-size: 10px;
}
